@model MalikongkongNHS.Models.ViewModels.UserM

<h2>User Details</h2>

<div class="card p-3">
    <p><b>User ID:</b> @Model.UserId</p>
    <p><b>Full Name:</b> @Model.FullName</p>
    <p><b>Username:</b> @Model.Username</p>
    <p><b>Role:</b> @Model.Role</p>
</div>

<a href="/User/Index" class="btn btn-secondary mt-3">Back</a>